html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.main-menu {
    padding: 0;
    margin: 0;
}
.main-menu-item {
    display: inline-block;
    padding: 0;
}
.main-menu-link:hover,
.main-menu-link:focus {
    color: rgb(3, 169,244)
}
.main-menu-item:first-of-type {
    margin-right: 118px;
}
.main-menu-item:last-of-type {
    margin-left: 91px;  
}
.main-menu-link {
    font-family: "Playfair Display", "Times", serif;
    color: rgb(98, 98, 98);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
p {
    font-family: "PlayfairDisplay", "Times", serif;
    line-height: 21px;
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
}
.font-ubuntu {
    font-weight: light;
    font-size: 14px;
    line-height: 21px;
    font-family: "Ubuntu", "Arial", sans-serif;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
}
.lifestyle-title, .photodiary-title {
    font-family: "PlayfairDisplay", "Times", serif;
    color: rgb(98, 98, 98);
    font-size: 30px;    
}
.articles {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 900px;
    margin: 0 auto;
 background-color: lightblue;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.musicfest, .coffee, .americandream, .theAlps {
    width: 420px;
    display: inline-block;
}
.musicfest, .coffee, .americandream, .theAlps:nth-of-type(2n+1) {
    margin-right: 56px;
}