html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.main-menu {
    padding: 0;
    margin: 0;
}
.main-menu-item {
    display: inline-block;
    padding: 0;
    margin-top: 66px;
}
.main-menu-link:hover,
.main-menu-link:focus {
    color: rgb(3, 169,244)
}
.main-menu-item:not(:last-child){
    margin-right: 100px;
}
.main-menu-link {
    font-family: "PlayfairDisplay", "Times", serif;
    color: rgb(98, 98, 98);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
.main-nav {
    text-align: center;
}
p {
    font-family: 'PlayfairDisplay', "Times", serif;
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(98, 98, 98);
    margin-bottom: 12px;
}
.font-ubuntu {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    font-family: "Ubuntu", "Arial", sans-serif;
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    margin-bottom: 21px;
}
.lifestyle-title {
    font-family: "PlayfairDisplay", "Times", serif;
    color: rgb(98, 98, 98);
    font-size: 30px;
    font-weight: 400;    
}
.articles {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}
.container {
    width: 900px;
    margin: 0 auto;
/*  background-color: lightblue; */
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 125px;
    margin-bottom: 28px;
}
.lifestyle {
    width: 420px;
    display: inline-block;
}
.lifestyle:nth-of-type(2n+1) {
    margin-right: 60px;
}
.lifestyle:nth-last-child(-n+2) {
    margin-bottom: 46px;
}

.loadmore-button {
    font-size: 20px;
    line-height: 30px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98); 
    font-weight: 400;
    margin: 0 368px;
    min-width: 164px;
    height: 60px;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    background-color: rgba(255, 255, 255, 0); 
    cursor: pointer;
}