/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
    font-size: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 20px;
}

.background {
    background-image: url(../images/mb/background_mb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

.login-list {
    display: flex;
    /* transform: translateX(-8px); */
    margin-bottom: 116px;
}
.login_link, .signup_link {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: none;
    background-color: transparent;
    width: 90px;
    height: 36px;
    cursor: pointer;
    transition: color 0.5s linear;
}
.login_link:focus, .login_link:hover, 
.signup_link:focus, .signup_link:hover {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 17px;
}
.logo-link-mb, .logo-link {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.logo-link-mb {
    margin-bottom: 34px;
}
.logo-link {
    display: none;
}

.share-title, .share-title-second-row {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}
.share-sub-title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-transform: initial;
    display: block;
    margin: 0 auto 36px;
}
.find-partner {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: rgb(255, 255, 255);
    width: 225px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.7s linear;
}
  
.find-partner:focus, .find-partner:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 78, 80);
    border: 1px solid rgb(255, 78, 80);
}
.meet-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(51, 51, 51);  
    text-align: center;
} 

.partners-photo {
    margin: 0 auto;
    height: 121px;
    width: 121px; 
    border-radius: 60px;
    margin-bottom:  ;
}
.partner-list-item::before {
    display: block;
    content: "";
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(130px, 130px);
}
.icon-tv::before {
    background-image: url(../images/icon/TV.png);
}
.icon-cup::before {
    background-image: url(../images/icon/cup.png);
}  
.icon-chemical::before {
    background-image: url(../images/icon/chemical.png);
}
.icon-plane::before {
    background-image: url(../images/icon/plane.png);
}

.partner-list-item {
    width: 220px;
    text-align: center;
}

.partners-name {
    font-family: "Montserrat". sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    text-align: center;
    /* margin-bottom: 20px; */
}

.partners-about {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: rgb(102, 102, 102);
}

.other-partners {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: rgb(255, 78, 80);
    
    width: 192px;
    height: 40px;
    border: 1px solid rgb(255, 78, 80);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;

    display: block;
    margin: 0 auto;
    cursor: pointer;
    /* margin-bottom: 74px; */

    transition: all 0.7s linear;
}

.other-partners:hover {
    border: 1px solid rgb(251, 215, 134);
} 

/* .container {
    width: 940px;
    margin: 0 auto;
}

.background {
    background-image: url(../images/background.png);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 154px;
}
.logo {
    margin-top: 50px;
}

.logo-link {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.login-list {
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.share-title {
    margin-bottom: 14px;
}  
.share-title-second-row {
    margin-bottom: 40px;
}
.share-sub-title {
    margin: 0 auto 36px;
}
.meet-title {
    margin: 72px 0 36px;
}
.partners-photo {
    margin-bottom: 22px;
}
.partners-list {
    display: flex;
    justify-content: space-between;
}
.partner-list-item {
    margin: 0 20px 38px 0;
}
.partner-list-item:nth-last-child(1) {
    margin-right: 0;
}
.partners-name {
    margin-bottom: 20px;
}
.other-partners {
    cursor: pointer;
    margin-bottom: 74px;
} */