html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    position: relative;
    width: 1110px;
    margin: 0 auto;
}

.main-nav {
    margin: 0;
    padding-top: 34px;
    padding-bottom: 34px;
}

.site-logo {
    float: left;
    font-size: 0;
}

.site-logo-link {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: rgb(85, 82, 82);
    text-transform: uppercase;
    text-decoration: none;
}

.site-logo-link::first-letter {
    font-weight: 900;
    color: rgb(26, 188, 156);
}

.site-nav {
    display: inline-block;
    float: right;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.site-nav li {
    display: inline-block;
    margin-top: 10px;
    float: left;
}

.site-nav li:not(:last-child){
    margin-right: 30px;
}

.site-nav a {
    display: inline-block;
    font-family: "OpenSans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgb(15, 1, 1);
    text-transform: uppercase;
    text-decoration: none;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: rgb(26, 188, 156);
}

.slides {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(0, 0, 2, 0.56);
}

.overlay-slider {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background:rgba(0,0,2,0.52);
}

.slides img {
    height: 602px;
    width: 100%;
    object-fit: cover;
}

.container_slider {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    background-color: lightskyblue;
}

.slider-ctrl {
    position: absolute;
    display: inline-block;
    height: 104px;
    width: 104px;
    border: none;
    background-color: rgba(26, 188, 156, 0.65);
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
}

.slider-ctrl-prev {
    left: 0;
    background-image: url(../images/prev.png);
}

.slider-ctrl-next {
    right: 0;
    background-image: url(../images/next.png);
}

.slider-ctrl:hover,
.slider-ctrl:focus {
    background-color: rgb(26, 188, 156);
}

.slider {
    position: relative;
}

.container_slider {
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
}

.container_slides-descr {
    position: absolute;
    width: 745px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 14px;
}

h2 {
    font-size: 60px;
    line-height: 82px;
    font-weight: 900;
    letter-spacing: -0.02em;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
}

.details-of-tour {
    font-size: 24px;
    line-height: 54px;
    font-weight: 300;
    letter-spacing: -0.02em;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 0;
}

.bgc {
    background-color: rgb(233, 240, 253);
}

.shop {
    padding-top: 98px;
    padding-bottom: 98px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.2px;
    letter-spacing: -0.02em;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

h3:after {
    display: block;
    content: '';
    width: 164px;
    height: 7px;
    background-color:rgb(26, 188, 156);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 92px;
}

.shop-list {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.shop-list li {
    float: left;
    width: 255px;
}

.shop-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.shop-list-item:nth-last-child(-n+4) {
    margin-bottom: 0;
}

h4, span {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0;
}

.substrate {
    background-color: rgb(50, 50, 50);
}

.substrate:hover,
.substrate:focus {
    background-color: rgb(26, 188, 156);    
}

.shop-list-item:hover .substrate {
    background-color: rgb(26, 188, 156);
}

.product {
    float: left;
    padding-left: 13px;
}

.price {
    float: right;
    background-color: rgba(255, 255, 255, 0.44);
    width: 54px;
    text-align: center;
}

.product-link {
    position: relative;
}

.overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 2, 0.52);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 10px solid rgba(255, 255, 255, 0.55);
    background-clip: padding-box;
}

.product-link:hover > .overlay {
    display: block;
}

.buttons-of-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    border: 1px solid white;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.card:hover,
.card:focus {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(26, 188, 156);
}

.card:nth-child(-n+2) {
    margin-right: 6px;
    margin-bottom: 6px;
}

.card:nth-last-child(1) {
    margin-bottom: 0;
}

.like {
    background-image: url(../images/like.png);
}

.compare {
    background-image: url(../images/compare.png);
}

.reserve {
    background-image: url(../images/reserve.png);
}

.cart { 
    background-image: url(../images/cart.png);
    background-position: left 12px center;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(255, 255, 255);
    width: 164px;
    height: 48px;
    font-family: "OpenSans", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-weight: 400;
    padding-right: 17px;
    text-align: right;
}

.footer {
    height: 88px;
    background-color: rgb(50, 50, 50);
    text-align: center;
}

.rights {
    display: inline-block;
    font-size: 16px;
    line-height: 88px;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-family: "OpenSans", sans-serif;
    color: rgb(254, 254, 254);
    padding: 0;
    padding-right: 2px;
    margin: 0;
}

.designed {
    display: inline-block;
    font-size: 16px;
    line-height: 88px;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-family: "OpenSans", sans-serif;
    color: rgb(26, 188, 156);
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}