.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;

    &__copyright {
        @include font($main-font, 14px);
        color: rgb(51, 51, 51);
        text-transform: initial;
    }
    &__copyrighter {
        color: $title-line-color;
        text-decoration: underline;
    }
    
    &__form {
        display: flex;
        align-items: center;

        &-btn {
            @include btn(150px, 42px, none, $shadow-color, $main-color, $main-font, 14px);
            text-transform: uppercase;
            cursor: pointer;
        }

        &-btn:hover,
        &-btn:focus {
            background-color: $hover-color;
        }

        &-input {
            @include font($deskription, 15px, 300);
            width: 230px;
            height: 40px;
            font-style: italic;
            color: rgb(229, 229, 229);
            padding-left: 13px;
            border: 1px solid rgb(229, 229, 229);
        }
    }
}