.background-header {
    background-image: $overlay-background,
    url(../images/background-vulture.jpg);
    @include bgi(no-repeat, center, cover);
    padding-bottom: 230px;

    @media (min-resolution: 192dpi) {
        background-image: $overlay-background,
        url(../images/background-vulture@2x.jpg);
    }
}

.logotype-link {
    @include font($main-font, 30px, 700);
    color: $main-color;
    text-transform: initial;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 19px;
    margin-bottom: 182px;

    &__list {
        display: flex;
        width: 490px;
        justify-content: space-between;
        justify-items: center;
    
        &-item-link {
            @include font($main-font, 14px);
            color: $main-color;
            text-transform: uppercase;
        }

        &-item-link::after {
            content: "";
            display: block;
            margin-top: 10px;
            width: 100%;
            height: 3px;
        }

        &-item-link:hover,
        &-item-link:focus {
            color: $hover-color;
        }

        &-item-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        &-item:hover >
        &-item-link::after {
            background-color: $hover-color;
        }
    }    

    &__icon-svg {
        width: 20px;
        height: 20px;
        fill: $main-color
    }

    &__icon-svg:hover,
    &__icon-svg:focus {
        fill: $hover-color
    }
}

.main-subtitle {
    @include font($main-subtitle-font, 72px);
    color: rgb(255, 255, 255);
    text-transform: initial; 
    margin-bottom: 42px;

    &-br {
        display: block;
    }
}

.main-title {
    @include font($main-font, 150px, 700);
    color: $main-color;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 110px;
}

.header__learn-more {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
    border: 3px solid $main-color;
    width: 160px;
    height: 40px;

    &-link {
        @include font($main-font, 14px, 700, 34px);
        color: $main-color;
        text-transform: uppercase;
    }

    &:hover {
        background-color: $hover-color;
        border: 3px solid $main-color;
        color: $main-color;
    }

    &:focus {
        background-color: $hover-color;
        border: 3px solid $main-color;
        color: $main-color;
    }
}