.background-header {
    background-image: $overlay-background,
    url(../images/background-vulture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 230px;
}

@media (min-resolution: 192dpi) {
    .header__background {
        background-image: $overlay-background,
        url(../images/background-vulture@2x.jpg);
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 19px;
    margin-bottom: 182px;
}

.logotype-link {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: $main-color;
    font-weight: 700;
    text-transform: initial;
    line-height: 36px;
}

.navigation__list {
    display: flex;
    width: 490px;
    justify-content: space-between;
    justify-items: center;
}

.navigation__list-item-link {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: $main-color;
    text-transform: uppercase;
    line-height: 17px;
}

.navigation__list-item-link::after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 3px;
}

.navigation__list-item-link:hover,
.navigation__list-item-link:focus {
    color: $hover-color;
}

.navigation__list-item:hover > .navigation__list-item-link::after {
    background-color: $hover-color;
}

.navigation__icon-svg {
    width: 20px;
    height: 20px;
    fill: $main-color
}
.navigation__icon-svg:hover,
.navigation__icon-svg:focus {
    fill: $hover-color
}

.navigation__list-item-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.main-subtitle {
    font-size: 72px;
    font-family: "Kaushan Script";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-transform: initial; 
    margin-bottom: 42px;
}
 
.main-title {
    font-size: 150px;
    font-family: "Montserrat", sans-serif;
    color: $main-color;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 110px;
} 

.main-subtitle-br {
    display: block;
}  

.header__learn-more {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
    border: 3px solid $main-color;
    width: 160px;
    height: 40px;
}

.header__learn-more-link {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 34px;
}

.header__learn-more:hover,
.header__learn-more:focus {
    background-color: $hover-color;
    border: 3px solid $main-color;
    color: $main-color;
}