.service {
    padding-top: 54px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        & {
            li {
            width: 380px;
            }
        }

        &-item {
            padding-left: 62px;
            position: relative;
            margin-bottom: 94px;
        }
        
        &-item::before {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            height: 32px;
            width: 32px;
            background-repeat: no-repeat;
        }
    }

    &__deskription {
        @include font($deskription, 15px);
        color: rgb(153, 153, 153);
    }
}

.icon-alarm::before {
    background-image: url(../images/service/alarm.svg);
}
.icon-graphic::before {
    background-image: url(../images/service/graphic.svg);
}
.icon-computer::before {
    background-image: url(../images/service/computer.svg);
}
.icon-book::before {
    background-image: url(../images/service/book.svg);
}
.icon-home::before {
    background-image: url(../images/service/home.svg);
}
.icon-photo::before {
    background-image: url(../images/service/photo.svg);
}

h3 {
    @include font($main-font, 14px);
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    margin-bottom: 8px;
}