$main-color: rgb(255, 255, 255);
$hover-color: rgb(252, 227, 138);
$title-line-color: rgb(243, 129, 129);
$shadow-color: rgb(149, 225, 211);
$overlay-photo: linear-gradient(90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
$overlay-background: linear-gradient( to top, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%);

$section-title-font:
$section-subtitle-font:
